.container {
  max-width: 800px;
  margin: auto;
  font-family: Arial;
}

form input, form select, form button {
  margin: 5px;
  padding: 5px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}
